/** color variables */
:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #141d2e;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Times New Roman", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--darkest);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: #cf0459;
	margin-bottom: 1rem;
}

#tasks_form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#add_task {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#add_task::placeholder {
	color: var(--grey);
}

#submit_task {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#submit_task:hover {
	opacity: 0.8;
    background-image: linear-gradient(to right, var(--purple), var(--pink));
}

#submit_task:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.list_of_tasks {
	padding: 1rem;
}

.list_of_tasks h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .t1{
    color:rgb(166, 235, 220);
    padding: 1rem;
    display: flex;
	justify-content: space-between;
    border-color: wheat;
	border-radius: 1rem;
	margin-bottom: 1rem;
    font-size: 0.95rem;
    width:100%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: lightcoral;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), rgb(94, 4, 94));
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .edit:hover{
    background-image: linear-gradient(to right, rgb(94, 4, 94), var(--pink));
}

.task .actions .delete {
	color: crimson;
}


.task .actions .delete:hover {
	color: darkred;
}

.task .actions .markasdone {
    color: green;
}


.task .actions .markasdone:hover {
	color: darkgreen;
}


.task .actions .undomark{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .undomark:hover{
    background-image: linear-gradient(to right, var(--purple), var(--pink));
}